<%= form_with(model: @post, local: true) do |form| %>
  <!-- ... Existing fields ... -->
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
  <%= form.label :image %>
  <%= form.file_field :image %>

  <% if @post.image? %> <!-- Use image? to check if an image is attached -->
    <p>Current Image:</p>
    <%= image_tag @post.image.url %> <!-- Use image.url to display the image -->
  <% end %>
</div>

  <div class="actions">
  <%= form.submit 'Create' %>
  </div>
  </div>
   
<% end %>