<%= form_with(model: @post, local: true) do |form| %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    
    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>
    
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
    
    <div class="field">
      <%= form.label :video %>
      <%= form.file_field :video %>
    </div>
    
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  
  
  
  <style>
      body {
          display: flex;
          width: 10%;
          flex-direction: column;
          margin: 40px auto;
          text-align: center;
      }
     
      input[type="submit"]
      {
          background-color: red;
          border: none;
          color: white;
          padding: 10px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
      }
  </style>