<style>
  .round-image {
    border-radius: 50%;
  }

  body {
  padding: 10px;
  background: url('https://cdn.wallpapersafari.com/13/92/UpsMNY.jpg') center/cover; /* Replace 'path/to/your/image.jpg' with the actual path to your wallpaper image */
  align-items: center;
  background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
}
/* Style the container for the buttons */
.button-container {
  background-color: #fff; /* Background color for the container */
  border: 1px solid #ddd; /* Border for the container */
  padding: 10px; /* Padding inside the container */
  border-radius: 5px; /* Rounded corners */
  display: inline-block; /* Make it an inline block to fit the content */
}

/* Style the individual buttons */
.button-container a {
  text-decoration: none; /* Remove underlines from links */
  color: #333; /* Text color for the links */
  margin-right: 10px; /* Margin between buttons (adjust as needed) */
}

</style>

<h1>Posts</h1>

<%= link_to 'Create New Post', new_post_path %>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <% if post.image? %>
      <%= image_tag post.image.url , width: "20%"%>
    <% end %>
    <% if post.video? %>
      <video width="320" height="240" controls>
        <source src="<%= post.video.url %>" type="video/mp4">
      </video>
    <% end %>
    <% if post.user && post.user.avatar.present? %>
     <p>Posted by <%= image_tag post.user.avatar.url, width: "3%", class: "round-image" %> <%= post.user.email %> on <%= post.created_at.strftime("%B %d, %Y") %></p>
    <% else %>
     <p>Posted by Puspanjali Parida on <%= post.created_at.strftime("%B %d, %Y") %></p>
    <% end %>
<% end %>